<section>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
        <form [formGroup]="form" class="mx-1 mx-md-4" (ngSubmit)="onSubmit()">
          <!-- FirstName input -->
          <div class="d-flex flex-row align-items-center mb-3">
            <i class="me-3">
              <mat-icon>
                account_circle
              </mat-icon>
            </i>
            <mat-form-field class="form-outline flex-fill mb-0" appearance="fill">
              <mat-label class="form-label" for="firstname">
                First Name
              </mat-label>
              <input matInput type="text" id="firstname" placeholder="Enter a valid username"
                formControlName="firstname" [errorStateMatcher]="matcher" name="firstname" required />
              <mat-error *ngIf="firstname?.hasError('minlength') && !firstname?.hasError('required')">
                Firstname must have <strong>{{firstname?.errors?.['minlength'].requiredLength}}</strong> Letters ,You
                have Submitted <strong>{{firstname?.errors?.['minlength'].actualLength}}</strong> Letters
              </mat-error>
              <mat-error *ngIf="firstname?.hasError('required')">
                Firstname is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Lastname input -->
          <div class="d-flex flex-row align-items-center mb-3">
            <i class="me-3">
              <mat-icon>
                account_circle
              </mat-icon>
            </i>
            <mat-form-field class="form-outline flex-fill mb-0" appearance="fill">
              <mat-label class="form-label" for="lastname">
                Last Name
              </mat-label>
              <input matInput type="text" id="lastname" placeholder="Enter a valid lastname" formControlName="lastname"
                [errorStateMatcher]="matcher" name="lastname" required />
              <mat-error *ngIf="lastname?.hasError('minlength') && !lastname?.hasError('required')">
                Lastname must have <strong>{{lastname?.errors?.['minlength'].requiredLength}}</strong> Letters ,You have
                Submitted <strong>{{lastname?.errors?.['minlength'].actualLength}}</strong> Letters
              </mat-error>
              <mat-error *ngIf="lastname?.hasError('required')">
                Lastname is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Email input -->
          <div class="d-flex flex-row align-items-center mb-3">
            <i class="me-3">
              <mat-icon>
                email
              </mat-icon>
            </i>
            <mat-form-field class="form-outline flex-fill mb-0" appearance="fill">
              <mat-label class="form-label" for="Email">
                Email address
              </mat-label>
              <input matInput type="email" id="email" placeholder="Enter a valid email address" formControlName="email"
                [errorStateMatcher]="matcher" name="email" required />
              <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
                Please enter a valid <strong>email</strong> address
              </mat-error>
              <mat-error *ngIf="email?.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Password input -->
          <div class="d-flex flex-row align-items-center mb-3">
            <i class="me-3">
              <mat-icon>
                lock
              </mat-icon>
            </i>
            <mat-form-field class="form-outline flex-fill mb-0" appearance="fill">
              <mat-label class="form-label" for="password">
                Password
              </mat-label>
              <input matInput type="password" id="password" placeholder="Enter password" formControlName="password"
                [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'" name="password" required />
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf=" password?.hasError('pattern') && !password?.hasError('required')">
                Must contain at least <strong>one number</strong> and <strong>one uppercase</strong> and
                <strong>lowercase letters</strong> ,
                and at <strong>least 8</strong> or more characters.
              </mat-error>
              <mat-error *ngIf="password?.hasError('minlength') && !password?.hasError('required')">
                Password must have <strong>{{password?.errors?.['minlength'].requiredLength}}</strong> Letters ,You have
                Submitted <strong>{{password?.errors?.['minlength'].actualLength}}</strong> Letters
              </mat-error>
              <mat-error *ngIf=" password?.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Confirmation Password input -->
          <div class="d-flex flex-row align-items-center mb-3">
            <i class="me-3">
              <mat-icon>
                vpn_key
              </mat-icon>
            </i>
            <mat-form-field class="form-outline flex-fill mb-0" appearance="fill">
              <mat-label class="form-label" for="cPassword">
                Confirm Password
              </mat-label>
              <input matInput type="password" id="cPassword" placeholder="Enter password" formControlName="cPassword"
                [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'" name="cPassword" required />
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="cPassword?.hasError('passwordMismatch')">
                Password does not match
              </mat-error>
              <mat-error *ngIf=" cPassword?.hasError('required')">
                Password confirmation is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!--Register Button-->
          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button mat-raised-button type="submit" color="primary" class="btn btn-primary btn-lg btn-block">
              Register
            </button>
          </div>

        </form>
      </div>
      <!--Image-->
      <div class="col-md-9 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid"
          alt="Register Image">
      </div>
    </div>
  </div>
</section>
