<section>
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Login Image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="form" (ngSubmit)="onSubmit()"><br>
          <!-- Connect with google -->
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-2 me-3"><b>Sign In</b></p>
          </div>
          <!-- Email input -->
          <mat-form-field class="form-group mb-3" appearance="fill">
            <mat-label class="form-label" for="Email">
              <i class="me-3"> <mat-icon> email</mat-icon></i> Email address
            </mat-label>
            <input matInput type="email" id="email" placeholder="Enter a valid email address" formControlName="email"
              [errorStateMatcher]="matcher" name="email" required />
            <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
              Please enter a valid <strong>email</strong> address
            </mat-error>
            <mat-error *ngIf="email?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- Password input -->
          <mat-form-field class="form-group mb-3" appearance="fill">
            <mat-label class="form-label" for="password">
              <i class="me-3"><mat-icon>lock</mat-icon></i> Password
            </mat-label>
            <input matInput type="password" id="password" placeholder="Enter password" formControlName="password"
              [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'" name="password" required />
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password?.hasError('minlength') && !password?.hasError('required')">
              Password must have <strong>{{password?.errors?.['minlength'].requiredLength}}</strong> Letters ,You have
              Submitted <strong>{{password?.errors?.['minlength'].actualLength}}</strong> Letters
            </mat-error>
            <mat-error *ngIf=" password?.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>

          </mat-form-field>
          <!--Login Button -->
          <div class="text-center mt-4 pt-2">
            <button mat-raised-button type="submit" color="primary" class="btn btn-primary btn-lg btn-block">
              Login
            </button>
          </div>
          <!--Redirectio to register components -->
          <div class="text-center text-lg-start mt-4 pt-2">
            <p class="small mt-2 pt-1 mb-0">Don't have an account?
              <a routerLink="/register" class="link-danger">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
